extends ../Home.pug

block content
    h1 Transactions
    ul 
        each list in lists
            li(class="m-2") 
             span= list.userID +"-----"
             span= list.bookID +"-----"
             span= list.isComplete
             span 
                if list.isComplete
                    button(disabled class="btn btn-outline-success") Complete
                else
                    form(action="/transactions/" + list.id +"/complete", method="get")
                        button(type="submit",class="btn btn-outline-secondary" ) Complete
    form(action="/transactions/create", method="post")
        label book &nbsp;
        select(name="bookID") 
            each book in books
                option(value=book.id)= book.title
        label Member &nbsp;
        select(name="userID")
            each user in users
                option(value=user.id)= user.name
        button(class="btn btn-primary ml-2") Create
    a(href="/")
        button(class="btn btn-primary ml-2") Home